@import 'tailwindcss';

* {
  interpolate-size: allow-keywords;
  scrollbar-width: thin;
}
button:not(:disabled, [aria-disabled="true"]),
label:has(input:not(:disabled, [aria-disabled="true"])) {
  @apply hover:cursor-pointer;
}
:root {
  --background: #fbfcfc;
  --foreground: #191919;
    height: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-euclid-circular-b: var(--font-euclid-circular-b);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #040303;
    --foreground: #e6e6e6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-euclid-circular-b);
  height: 100%;
  min-height: 100%;
  }
  
  .rdp-root {
    --rdp-today-color: white !important;
  
    @media (prefers-color-scheme: dark) {
      --rdp-today-color: black !important;
    }
  
        @media (width >=64rem
 /* 1024px */
 ) {
   --rdp-day-width: calc(var(--spacing) * 12) !important;
   --rdp-day-height: calc(var(--spacing) * 24) !important;
 }

 .rdp-months {
    @apply mx-auto block w-11/12 max-w-none;
      .rdp-nav {
      @apply static h-16 justify-between xl:h-20;
        .rdp-chevron {
          @apply [--rdp-accent-color:#98a2b3] dark:[--rdp-accent-color:#675d4c];
        }
      }
      
      .rdp-month {
        @apply w-full;
      
        .rdp-month_caption {
        @apply -mt-16 h-16 font-semibold text-white xl:-mt-20 xl:h-20 dark:text-black;
          .rdp-caption_label {
            @apply mx-auto;
          }
        }
        
        table,
        td,
        th {
          @apply border border-[#242424] dark:border-[#bdbdbd];
        }
        
        table {
        @apply w-full max-w-full overflow-auto text-xs font-medium;
        }
        
        .rdp-weeks {
          .rdp-week {
            .rdp-day {
            @apply p-1.5 text-left align-baseline;
              &.rdp-today {
              @apply text-[1.25em] font-semibold text-shadow-[#2525E6] text-shadow-lg dark:text-shadow-[#dad519];
              }
                            }
                            }
                            }
                            }
    }
}
